[submodule "Firmware/gk-userlandinterface"]
	path = Firmware/gk-userlandinterface
	url = https://github.com/jncronin/gk-userlandinterface
[submodule "Firmware/lwext4"]
	path = Firmware/lwext4
	url = https://github.com/jncronin/lwext4
[submodule "Firmware/tinyusb"]
	path = Firmware/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "Firmware/lwip"]
	path = Firmware/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "Firmware-v3/cmsis_core"]
	path = Firmware/cmsis_core
	url = https://github.com/STMicroelectronics/cmsis_core.git
[submodule "Firmware-v3/cmsis_device_h7rs"]
	path = Firmware/cmsis_device_h7rs
	url = https://github.com/STMicroelectronics/cmsis_device_h7rs.git
[submodule "Firmware-v3/inih"]
	path = Firmware/inih
	url = https://github.com/jncronin/inih.git
[submodule "Firmware-v4/STM32CubeMP2"]
	path = Firmware-v4/STM32CubeMP2
	url = https://github.com/STMicroelectronics/STM32CubeMP2.git
[submodule "Firmware-v4/stm32-ddr-phy-binary"]
	path = Firmware-v4/stm32-ddr-phy-binary
	url = https://github.com/STMicroelectronics/stm32-ddr-phy-binary.git
